extends ../layouts/common

block content
    h1 Create new book
    form(action="/books/create", method="POST", enctype="multipart/form-data")
        label Name
        input(type="text", name="name")
        span &nbsp
        label Description
        input(type="text", name="desc")
        span &nbsp
        input.form-control-file(type="file", name="cover")
        button(class="btn btn-primary ml-2") Create
    