h1 Create new book
form(action="/create", method="POST")
    label Name
    input(type="text", name="name")
    span &nbsp
    label Description
    input(type="text", name="desc")
    span &nbsp
    button Create
    