extends ../layouts/common

block content
    h1 My Books
    a(class="btn btn-primary mt-2", href="/books/create") New book
    form.ml-auto(action="/books/search", method="GET", class="d-flex")
        input.form-control(type="text", name="q")
        button(class="btn btn-primary ml-2") Search
    table.table
        tr
            th Book Name  
        each book in books
            tr
                td
                    img(src=book.coverUrl, width="64")
                td= book.name
                td
                    a(class="btn btn-primary mt-2", href="/books/" + book.id + "/delete") Delete
                td
                    a(class="btn btn-primary mt-2", href="/books/" + book.id + "/update") Update

    a(class="btn btn-primary mt-2", href="/") Back