html
    head
        title Book Management
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(type="image/x-icon", href="/favicon.png", rel="shortcut icon")

    body
        block content