extends ./layouts/common

block content
    h1 Book Management
    a(class="btn btn-primary mt-2 mr-2", href="/books") View books
    a(class="btn btn-primary mt-2 mr-2", href="/users") View users
    a(class="btn btn-primary mt-2 mr-2", href="/transactions") View transactions
    