h1 My Books
a(href="/create") New book
form(action="/search", method="GET")
    input(type="text", name="q")
    button Search
ul  
    each book in books
        li
            span= book.name
            span &nbsp
            a(href="/" + book.id + "/delete") Delete
            span &nbsp
            a(href="/" + book.id + "/update") Update