h1 Users
a(href="/users/create") New user
//- form(action="", method="GET")
//-     input(type="text", name="q")
//-     button Search

ul  
    each user in users
        li 
            span= user.name
            