extends ../layouts/common

block content
    h1 Users
    a(class="btn btn-primary mt-2", href="/users/create") New user
    form(action="/users/search", method="GET")
        input(type="text", name="q")
        button(class="btn btn-primary ml-2") Search

    ul 
        each user in users
            li 
                span= user.name
                span &nbsp
                a(class="btn btn-primary mt-2", href="/users/" + user.id + "/delete") Delete
                span &nbsp
                a(class="btn btn-primary mt-2", href="/users/"+ user.id + "/update") Update

    a(class="btn btn-primary mt-2", href="/") Back

            