extends ../layouts/common

block content   
    h1 Update profile
    form(action="/users/update", method="POST")
        input(type="text", name="id", value=id)
        input(type="text", name="name", placeholder="Your new name")
        br
        //- "/" + user.avatar
        img.mt-2(src= user.avatar, width="64")
        a.ml-2(class="btn btn-primary mt-2", href="/users/"+ user.id + "/avatar") Change avatar
        br
        button(class="btn btn-primary mt-2") Update