extends ../layouts/common

block content
    h1 Transaction
    a(class="btn btn-primary mt-2", href="/transactions/create") New transaction
    ul
        each tran in trans
            li
                span=tran.userName + ":"
                span &nbsp
                span=tran.bookName
                span &nbsp
                a(class="btn btn-primary mt-2", href="/transactions/" + tran.id + "/complete") Complete
                span &nbsp
                a(class="btn btn-primary mt-2", href="/transactions/" + tran.id + "/delete") Delete

    a(class="btn btn-primary mt-2", href="/") Back